
.background {
  background-color: #FFF8E7 ;
  max-height: 100%;
  margin: 0;
}

.contentContainer {
  background-color: #756A5E;
}

.green{
  background-color: #90A07B;
}

html, body {
  height: 100%;
  margin: 0;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* viewport height */
 

.page {
  width: 80%;
  height: 80%;
  border: 20px solid #ccc;
  box-sizing: border-box;
} 

.nopadding {
  padding: 0%;
}
