
.background {
  background-color: #FFF8E7 ;
  max-height: 100%;
  margin: 0;
}

.contentContainer {
  background-color: #846b51;
  justify-content: center;
  align-items: center;
}

.greenChoice{
  background-color: #90A07B;
}

html, body {
  height: 100%;
  margin: 0;
}

.eventCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeEventCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lightFont {
  font-family: "Nixie One";
}
/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* viewport height */
 

.page {
  width: 80%;
  height: 80%;
  border: 20px solid #ccc;
  box-sizing: border-box;
} 

.nopadding {
  padding: 0%;
}
