
.background {
  background-color: #baae99 ;
  max-height: 100%;
  margin: 0;
}

.contentContainer {
  background-color: #FFFFF8;
}

html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* viewport height */
}

.page {
  width: 80%;
  height: 80%;
  border: 20px solid #ccc;
  box-sizing: border-box;
} 

.nopadding {
  padding: 0%;
}
